body {
    background-color: rgb(189, 74, 116);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header {
    text-align: center;
}

.Main {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.Cuadro_01 {
    padding: 5px;
    background-color: yellow;
}

.btn_01{
    color: rgb(13, 0, 255);
    align-items: center;
    padding: 5px 20px 5px 20px;
}

.Titulo_01{
    color: blueviolet;
}